// colors
$header-color: #343a3f;
$login-btn-color: #007afe;
$table-border-color: #dce1e5;
$text-color: #24292d;
$btn-color: #007cfe;
$btn-color2: #13a2b7;

// fonts
$font-1: Arial, Helvetica, sans-serif;
